/* Main Font Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Background and Letter Settings */
html {
    background: #ff9973;
    color: white;
}

/* Font Setting and make "body" stick to Corners */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

/* Invisible content for Fading In */
.stuff {
    display: none;
}

/* Giving Margin for the Top Menu bar */
#interests,
#organizations,
#about,
#contact,
#quiz,
#start {
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

/* Align Top Menu Buttons */
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

/* Centering the Home Page */
#introduction {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 0;
    text-align: center;
}

/* Styles for the Menu Buttons */
#links button {
    border-radius: 24px;
    background: #ff7f50;
    box-shadow: -4px -4px 8px #994c30, 4px 4px 8px #ffb270;
    padding: 12px;
    margin: 12px;
    text-decoration: none;
    border: none;
}

button {
    cursor: pointer;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

button:hover {
    opacity: 0.7;
}

/* Make Links White instead of Blue */
a {
    color: white;
}

/* More spacing for mini Titles */
h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Styles of the top Menu bar */
#top {
    background: #ff7f50;
    box-shadow: -8px -8px 16px #994c30, 8px 8px 16px #ffb270;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 90px;
}

#top h1 {
    margin-left: 24px;
    cursor: pointer;
}

/* Seperating Line */
hr {
    border: 2px solid white;
}